<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All announcements</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div class="all-classes-container">
    <div th:replace="header :: header"></div>
    <h1>List of Announcements</h1>
    <form th:action="@{/announcements/new}" method="get">
        <div class="text-left">
            <button type="submit" class="btn btn-info">Create new announcement</button>
        </div>
    </form>

    <table class="table">
        <thead>
<!--    <div class="row">-->
<!--        <table class="table">-->
            <tr scope="row">
                <th scope="col">No.</th>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th colspan="2" scope="col">Operations</th>
            </tr>
    </thead>
    <tbody>
            <tr scope="row" th:each="announcement, state : ${announcements}">
                <td><b th:text="${state.count}"></b></td>
                <td th:text="${announcement.getId()}"></td>
                <td><a th:text="${announcement.getText()}" th:href="@{'/announcements/' + ${announcement.getId()} +
                 '/comments'}"></a></td>

                <td><a th:href="@{/announcements/{id}/edit(id=${announcement.getId()})}">Edit</a></td>
                <td><a th:href="@{/announcements/{id}(id=${announcement.getId()})}">Remote</a></td>


<!--                <td><a th:href="@{/announcements/${announcement.id}}">Edit</a></td>-->
<!--                <td><a th:href="@{/announcements/${announcement.id}}">Remote</a></td>-->
            </tr>
    </tbody>
    </table>
<!--        </table>-->
<!--    </div>-->
</div>
</body>
</html>