<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<p th:text="${comment.getText()}">VALUE</p>
<p th:text="${comment.getId()}">VALUE</p>


<a th:href="@{/comments/{id}/edit(id=${comment.getId()})}">Edit</a>

<form th:method="POST" th:action="@{/comments/{id}(id=${comment.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>






